/win32/bin
/win32/ipch
/win32/*.sdf
/win32/itpp_mkl_tests/ipch
/win32/itpp_mkl_tests/ldpc_test_build
/win32/itpp_mkl_tests/timer_test_build
/win32/itpp_mkl_tests/*.user
/win32/itpp_mkl_build
/win32/ldpc/ipch
/win32/ldpc/Debug
/win32/ldpc/ldpc/Debug
/win32/*.opensdf
/win32/itpp_mkl_tests/*.sdf
/win32/itpp_mkl_tests/*.suo
/win32/diy/ldpc_bersim_awgn_build
/win32/diy/ldpc_gen_codes_build
/win32/itpp_mkl_tests/llr_test_build
/win32/itpp_mkl_tests/reedsolomon_test_build
/win32/itpp_mkl_tests/rand_test_build
/win32/itpp_mkl_tests/mat_test_build
/win32/itpp_mkl_tests/sparse_test_build
/win32/itpp_mkl_tests/specmat_test_build
/win32/itpp_mkl_tests/transforms_test_build
/win32/itpp_mkl_tests/stat_test_build
/win32/itpp_mkl_tests/turbo_test_build
/win32/itpp_mkl_tests/vec_test_build
/bin/*.exe
/bin/*.pdb
/win32/diy/*.it
/win32/*.user
/win32/itpp_mkl_tests/*.codec
/win32/lib/*.lib
/win32/itpp_mkl_tests/bch_test_build
/win32/diy/ldpc_bch_dvb-s2_build
/win32/diy/bch_bersim_awgn_build
/win32/itpp_mkl_tests/pulse_shape_test_build
/win32/diy/qpsk_simulation_build
/win32/diy/*.pdb
/win32/itpp_build
/win32/dvb-s2_build
/win32/*.pdb
/data/*.txt
/data/*.it
/win32/data/*.it
/win32/*.suo
/win32/driver-updateVar_build
/win32/driver-updateChk_build
/win32-vc10/driver-updateChk_build
/win32-vc10/driver-updateVar_build
/win32-vc10/dvb-s2_build
/win32-vc10/itpp_build
/win32-vc10/diy/ldpc_gen_codes_build
/win32-vc10/*.sdf
/win32-vc10/*.pdb
/win32-vc10/bin/*.pdb
/win32-vc10/diy/*.pdb
/win32-vc10/*.suo
/win32-vc10/ipch
/win32-vc10/itpp_mkl_tests/*.codec
/win32-vc10/lib/*.lib
/win32-vc10/bin/*.exe
/win32-vc9/*.user
/win32-vc9/*.suo
/win32-vc9/*.ncb
/win32-vc9/*.build
/win32-vc10/*.opensdf
/win32-vc10/*.user
/bin/*.tmp
/win32-vc9/Debug
/win32-vc9/*.pdb
/win32-vc9/lib/*.lib
/win32-vc9/*.codec
/win32-vc10/ldpc_gen_codes_build
/win32-vc10/*.filters
/win32-vc9/*.dat
/win32-vc10/*.dat
