/win32/bin
/win32/ipch
/win32/*.sdf
/win32/*.suo
/win32/itpp_mkl_tests/ipch
/win32/itpp_mkl_tests/ldpc_test_build
/win32/itpp_mkl_tests/timer_test_build
/win32/itpp_mkl_tests/*.user
/win32/itpp_mkl_build
/win32/ldpc/ipch
/win32/ldpc/Debug
/win32/ldpc/ldpc/Debug
/win32/*.opensdf
/win32/itpp_mkl_tests/*.sdf
/win32/itpp_mkl_tests/*.suo
